*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    line-height: 1.4;
    color: black;
    display: flex;
    flex-direction: column;
    background-color: white;
   
}
ul,li{
    list-style: none;
   
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
}
ul li a{
    display: block;
    text-decoration: none;
}
.header{
    height: 135px;
    border-bottom: 1px solid #888;
    
}
.header > .container{
    display: flex;
    justify-content: space-between;
}
.header-left{
    background-image: url("../imgs/templatemo_logo.png");
    background-size: 240px 54px;
   margin-top: 40px;
    width: 240px;
      height: 54px;
}
.header-right{
    width: 50%;

}
.header-right ul li{
    float: left;
    margin-right: 10px;

}
.header-right ul li {
  padding: 50px 0;
}
.header-right ul li a{
    padding: 10px 20px;
}
.header-right ul li a.active{
    background-color: red;
    color: white;
}
.slide{
    background-image: url("../imgs/templatemo_slider.jpg");
    background-size: cover;
    padding-bottom: 50px;
}
.slide-left{
   padding: 5px;
   background:linear-gradient(white,rgb(116, 86, 86));
}
.image-ot{
    padding: 3px;
    border: 1px solid black;
    margin: 0 20px 30px;
    float: left;
}
.check ul li{
    list-style-image: url("https://templatemo.com/templates/templatemo_348_fresh_zone/images/list-tick.png");
}
footer{
    background-color:  #38362d;
    height:120px ;
}
footer p{
    color: white;
    margin: 0 auto;
}