ul{
    list-style: none;
}
.item{
 width: 226px;
 height: 226px;
 position: relative;
border-radius: 10px;
overflow: hidden;
transition: 0.4s;
}
img{
    width: 226px;
    height: 226px;
}
ul li{
    float: left;
    margin-right: 20px;
    font-size: 30px;
    margin-top: 90px;
    color: white;

}
.item:hover img{
    transform: scale(1.2);transition: 1s;

}
.item:hover .groud{
    opacity: 0.4;
}
.item:hover .play{
    display: block;
}
.groud{
    background-color: black;
    opacity:0;
    width: 226px;
    height: 226px;
    position: absolute;
    top: 0;
    left: 0;

}
.play{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 20px;
    display: none;
    overflow: hidden;
}