ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(48, 161, 253);
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(157, 255, 0);
    color: black;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(17, 17, 17);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #e26bc8;
    color: white;
}
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .container{
    width: 1100px;
    margin: 0 auto;
    float: none;

  }
  .container .row{
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
  }
  .col-md-2{
    width: 30%;
    overflow: hidden;
  }
  .col-md-6{
    width: 50%;
  }